.menu {
  margin: 2em 0;
}
.gridContainer {
  display: flex;
  width: 1825px;
  height: 775px;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-content: flex-start;
  background-color: #fff;
  background-color: #3c4352;
}
.poleContainer {
  height: 25px;
  width: 25px;
  font-size: 17px;
  color: rgb(107, 107, 107);
  line-height: 40px;
  user-select: none;
  cursor: pointer;
}
.pole {
  width: 100%;
  height: 100%;
}

.wall > .poleContainer {
  border: none;
}

.target {
  background-color: red !important;;
  transition: 0.2s;
  color: white;
  position: relative;
  z-index: 999;
}

.start {
  background-color: rgb(50, 255, 50) !important;
  position: relative;
  z-index: 999;
}


/* /////////////////////////////////////////////////////////////////////////////////// */
.visited {
  background-color: rgba(2, 255, 36, 0.205);
  animation: visited .9s ease-in-out;
}

.path {
  background-color: rgb(217, 255, 0);
  animation: pathAnimation 1.3s ease-in-out;
}

.wall {
  background-color: rgba(255, 255, 255, 0.822);
  transform: scale(1);
  animation: wall .7s ease-in-out;
  position: relative;
  z-index: 90;
}
.start.path {
  background-color: rgb(50, 255, 50);
  transform: scale(1);
  border-radius: 20px;
  transition: 0.5s;
  position: relative;
  z-index: 99;
  transform: scale(1.4);
}

.target.path {
  background-color: red;
  transform: scale(1);
  border-radius: 20px;
  transition: 0.5s;
  position: relative;
  z-index: 99;
  transform: scale(1.4);
}
@keyframes wall {
  0% {
    transform: scale(0.3);
  }
  20% {
    transform: scale(0.8);
    background-color: rgb(253, 173, 0);
  }
  50% {
    transform: scale(0.3);
  }
  70% {
    transform: scale(1.2);
    background-color: rgb(217, 255, 0);
  }

  100% {
    background-color: rgba(255, 255, 255, 0.822);

    transform: scale(1);
  }
}

@keyframes visited {
  0% {
    transform: scale(0);
  }
  20% {
    transform: scale(0.5);
    background-color: rgb(253, 173, 0);
  }
  50% {
    background-color: rgba(217, 255, 0, 0.932);
    transform: scale(1);

  }
  70% {
    background-color: rgba(2, 255, 36, 0.555);
  }
  100% {
    background-color: rgba(2, 255, 36, 0.205);
    transform: scale(1);
  }
}

@keyframes pathAnimation {
  0% {
    transform: scale(0);
    background-color: rgba(253, 173, 0, 0);
  }
  50% {
    transform: scale(0);
  }
  60% {
    transform: scale(0.8);
    background-color: rgb(217, 255, 0);
  }
  70% {
    transform: scale(1.4);
    background-color: rgb(217, 255, 0);
  }

  100% {
    transform: scale(1);
  }
}
