.menu {
  margin: 2em 0;
}
.gridContainer {
  display: flex;
  width: 1825px;
  height: 775px;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-content: flex-start;
}
.pole {
  height: 25px;
  width: 25px;
  font-size: 17px;
  color: rgb(107, 107, 107);
  line-height: 40px;
  user-select: none;
  cursor: pointer;
  transition: 0.2s;
  border: 1px solid rgba(86, 81, 94, 0.205);
  animation: wall2 1s ease-in-out;
}

@keyframes wall2 {
  0% {
    transform: scale(1);
    background-color: rgba(255, 0, 0, 0.377);
  }

  100% {
    transform: scale(0);
    background-color: rgba(0, 128, 0, 0.384);

  }
}

.wall {
  background-color: rgba(255, 255, 255, 0.822);
  transform: scale(1);
  animation: wall 0.3s ease-in-out;
}

@keyframes wall {
  0% {
    transform: scale(0);
  }
  50% {
    transform: scale(1.1);
  }

  100% {
    transform: scale(1);
  }
}
.visited {
  border: 2px solid rgba(78, 47, 255, 0.678);
  transform: scale(0.9);
  animation: visited 2s ease-in-out;
}

@keyframes visited {
  0% {
    transform: scale(0.4);
    border: 3px solid rgb(255, 93, 93);
    background: rgb(255, 93, 93);
  }
  50% {
    transform: scale(1.1);
    background-color: rgb(47, 255, 109);
  }

  100% {
    transform: scale(1);
  }
}
.target {
  background-color: red;
  transition: 0.2s;
  color: white;
}

.start {
  background-color: rgb(50, 255, 50);
  transition: 0.5s;
}

.path {
  background-color: rgb(255, 255, 255);
  border-radius: 5px;
  transform: scale(0.6);
}

.start.path {
  background-color: rgb(50, 255, 50);
  transform: scale(1);
  border-radius: 20px;
  transition: 0.5s;
}

.target.path {
  background-color: red;
  transform: scale(1);
  border-radius: 20px;
  transition: 0.5s;
}
